body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header and navigation */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  background-color: #090b27;
}

#logo h1 {
  color: #090b27;
  background-color: #6ee2ff;
  margin: 0px;
  padding-left: 50px;
  padding-right: 15px;
  border-radius: 5px; 

}

#navigation ul {
  list-style-type: none;
  padding: 0px;
}

#navigation li {
  display: inline;
  margin: 0 10px;
}

#navigation a {
  color: #6ee2ff;
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* Hero banner */
.hero-banner {
  background-image: url('../images/hero-bg2.jpg');
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
  display: flex;
  align-items:end;
  justify-content:flex-end;

}

#heroText h2 {
  color: #fff;
  font-size: 26px;
  margin: 0;
  border:#090b27;
  color: #090b27;
  background-color: #6ee2ff;
  margin: 0px;
  padding-left: 30px;
  padding-right: 5px;
  border-radius: 5px;
  margin-bottom:20px;
}

