body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  margin: auto;
  padding: auto;
}

/* Header and navigation */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  background-color: #090b27;
}

#logo h1 {
  color: #090b27;
  background-color: #6ee2ff;
  margin: 0px;
  padding-left: 50px;
  padding-right: 15px;
  border-radius: 5px; 

}

#navigation ul {
  list-style-type: none;
  padding: 0px;
}

#navigation li {
  display: inline;
  margin: 0 10px;
}

#navigation a {
  color: #6ee2ff;
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* Hero banner */
.hero-banner {
  background-image: url('../images/hero-bg2.jpg');
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
  display: flex;
  align-items:end;
  justify-content:flex-end;

}

#heroText h2 {
  color: #fff;
  font-size: 26px;
  margin: 0;
  color: #090b27;
  background-color: #6ee2ff;
  margin: 0px;
  padding-left: 30px;
  padding-right: 5px;
  border-radius: 5px;
  margin-bottom:20px;
}

/* Page sections and content */
.page-wrapper {
  padding: 20px 0;
  background-color: rgb(90, 184, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-section h2 {
  margin:20px
}

.work-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;    
  gap: 10px;                      
}

.work-item {
  border: 5px solid #090b27;
  padding: 10px;
  position: relative;
  height: 200px;
}

#work1 {
  grid-column: 1 / 3; 
  height: 300px;
  width: 1000px;
  background-image: url("../images/work1.png");
  background-size: cover;
}

#work2 {
  background-image: url("../images/work2.png");
  background-size: cover;
}

#work3 {
  background-image: url("../images/work3.jpeg");
  background-size: cover;
}

.work-heading {
  position: absolute;
  bottom: 10px;      
  left: 10px;       
}